@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
body,
html {
  margin: 0px;
  font-family: "Mooli", sans-serif;
}
body {
  background-color: #141313;
}

.content {
  text-align: center;
  background-color: #141313;
  padding: 8px;
  margin-top: -8px;
  color: white;
  min-height: 800px;
  margin: auto;
  line-height: 1.6;
  font-size: 18px;
  max-width: 800px;
  justify-content: space-around;
}
.ccontent > h2,
.ccontent > h3 {
  margin-bottom: 0px;
}

.ccontent > p {
  margin: 0px;
  margin-bottom: 16px;
}
@media only screen and (max-width: 600px) {
  .max-video {
    display: none;
  }
  .small-videl {
    display: block;
  }
  .welcome {
    display: none;
  }
  .content {
    width: 90vw;
    margin: 0px;
  }
}
@media only screen and (min-width: 600px) {
  .max-video {
    display: block;
  }
  .small-video {
    display: none;
  }
}
.video {
  width: 100vw;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 36px;
  font-weight: bold;
  margin: 0px;
  padding-left: 0px;
  font-size: 16px;
}

.navbar {
  background: #000000;
  color: white;
  padding: 8px;
  margin: 0px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  top: -1px;
}

#maxVideo {
  margin-top: 33px;
}

.max-video {
  position: relative;
}

.discover {
  position: absolute;
  bottom: 72px;
  user-select: none;
  cursor: pointer;
  left: 50%;
  color: white;
  background-color: #1a44a7;
  padding: 16px;
  border-radius: 23%;
}

.ccontent > ol {
  text-align: left;
  width: 350px;
  margin: auto;
  padding-bottom: 56px;
}

li > a {
  color: #52d252;
  text-decoration: none;
}

.ccontent > ol {
  color: #52aed2;
  width: 75%;
}

h3 {
  color: #52d252;
}

.welcome {
  color: #52aed2;
}

/* Inline #6 | http://127.0.0.1:5501/index.html */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background: black;
  color: white;
  gap: 16px;
}

.footer > .social > h3 {
  color: goldenrod;
  margin: 0px;
}

svg {
  background: #3ea73e;
  padding: 4px;
  border-radius: 50%;
  margin: 8px;
}

.social > ul {
  list-style: none;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social > ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;
  padding-right: 9px;
  border-radius: 5px;
  color: rgb(232, 232, 232);
}

.hr-footer {
  width: 70vw;
}
.side-c {
  width: 300px;
  text-align: center;
  margin: auto;
}
.side-c > .item {
  border: 1px solid;
  width: 300px;
  margin: 16px auto;
}

.postIcon {
  font-size: 36px;
  margin: 16px;
  background: yellow;
  width: 100%;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 72px;
}

.item > h5 {
  margin: 4px;
  color: white;
}

@media only screen and (min-width: 900px) {
  .first-side {
    min-width: 250px;
    border-right: 1px solid black;
    background-color: #2b2b2b;
    margin-right: 36px;
  }

  .side-c > .item {
    border: 1px solid;
    width: 80%;
  }

  .postIcon {
    font-size: 36px;
    margin: 16px;
    background: yellow;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 72px;
  }

  .item > h5 {
    margin: 4px;
    color: white;
  }

  .content {
    display: flex;
  }
}

.blueBg {
  background-color: aquamarine;
}

.greenBg {
  background-color: chartreuse;
}
